In [1]:
import pandas as pd 
import numpy as np
from scipy import stats

In [2]:
# version 
np.__version__

'1.18.1'

In [3]:
df = pd.read_csv('data.csv')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [4]:
# count of rows
df.shape[0]

11914

In [5]:
# The most popular Make
df['Make'].value_counts().iloc[:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

In [6]:
# Question 4: Number of unique Audi car models
df[df['Make'] == 'Audi']['Model'].nunique()

34

In [7]:
# How many columns in the dataset have missing values?
len(df.columns[df.isna().sum() != 0])

5

In [8]:
# Find the median value of "Engine Cylinders" column in the dataset.
# Next, calculate the most frequent value of the same "Engine Cylinders".
# Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
# Now, calculate the median value of "Engine Cylinders" once again.

print('median' , '-', df['Engine Cylinders'].median())
print('mode' , '-', df['Engine Cylinders'].mode()[0])
df_1 = df.fillna({'Engine Cylinders' : df['Engine Cylinders'].mode()[0]})
print('median' , '-', df_1['Engine Cylinders'].median())
print( 'No' if df['Engine Cylinders'].median() == df_1['Engine Cylinders'].median() else 'Yes')

median - 6.0
mode - 4.0
median - 6.0
No

In [9]:
# which Make was with missing Engine Cylinders
df[df['Engine Cylinders'].isna()]['Make'].value_counts()

Mazda         20
Volkswagen     4
Mitsubishi     3
Chevrolet      2
Toyota         1
Name: Make, dtype: int64

In [10]:
# Select all the "Lotus" cars from the dataset.
# Select only columns "Engine HP", "Engine Cylinders".
# Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
# Get the underlying NumPy array. Let's call it X.
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
# Invert XTX.
# Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
# What's the value of the first element of w?

X = df[df['Make'] == 'Lotus'][["Engine HP", "Engine Cylinders"]].drop_duplicates().values
XTX = np.matmul(X.T, X)
inv_XTX = np.linalg.inv(XTX)
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
w = np.matmul(np.matmul(inv_XTX,X.T), y)
w

array([  4.59494481, -63.56432501])